body{
    background-color: rgb(243, 124, 44);
    position: relative;
}

.navbar{
  
    width: 15%;
    
    position: fixed; 
    display: inline-block;
    z-index: 1;
   background-color: rgb(66, 55, 55); 
  
}
.navbar >ul{
  
    line-height: 50px;
   padding: 30px 60px;
}
.navbar > ul >li{
   
    text-decoration: none;
    overflow-x: hidden;
    font-size: 23px;
    color: #151803;
    display: inline-block;
   
}
.navbar > ul > li:hover{
    color: darkorange;
}
#btneffect .item1 > img{
    display: block;
    margin-left: 600px;
    padding-left: 20px;
    padding-top: 60px;
    border-radius: 2.3rem;
    
}
#btneffect .item1 .btn1{
    display: block;
    margin-left: 700px;
    margin-top: 60px;
    width: 130px;
    background-color: rgb(105, 22, 105);
    height: 50px;
    font-size: 20px;
}
#btneffect .item1 .btn1:hover{
    font-size: 25px;
    color: darkred;
    background-color: rgb(33, 19, 109);
}
#btneffect .item1 .btn0{
    display: block;
    margin-left: 700px;
    margin-top: 30px;
    width: 130px;
    background-color: rgb(117, 17, 117);
    height: 50px;
    font-size: 20px;
}

#btneffect .item1 .btn0:hover{
    font-size: 25px;
    color: darkred;
    background-color: rgb(32, 11, 148);
}
#btneffect .item2 > img{
    display: block;
    margin-left: 600;
    padding-left: 20px;
    padding-top: 80px;
   border-radius: 2.3rem;
    
}
#btneffect .item2 .btn2{
    display: block;
    margin-left: 700px;
    margin-top: 100px;
    width: 130px;
    background-color: rgb(107, 18, 107);
    height: 50px;
    font-size: 20px;
}
#btneffect .item2 .btn0{
    display: block;
    margin-left: 700px;
    margin-top: 20px;
    width: 130px;
    background-color: rgb(104, 15, 104);
    height: 50px;
    font-size: 20px;
}
#btneffect .item2 .btn0:hover{
    font-size: 25px;
    color: darkred;
    background-color: rgb(32, 18, 114);
}
#btneffect .item2 .btn2:hover{
    font-size: 25px;
    color: darkred;
    background-color: rgb(28, 15, 100);
}
#btneffect .item3 > img{
    display: block;
    margin-left: 600px;
    padding-left: 20px;
    padding-top: 60px;
   border-radius: 2.3rem;
    
}
#btneffect .item3 .btn3{
    display: block;
    margin-left: 700px;
    margin-top: 60px;
    width: 130px;
    background-color: rgb(107, 12, 107);
    height: 50px;
    font-size: 20px;
}
#btneffect .item3 .btn0{
    display: block;
    margin-left: 700px;
    margin-top: 40px;
    width: 130px;
    background-color: rgb(116, 12, 116);
    height: 50px;
    font-size: 20px;
}
#btneffect .item3 .btn3:hover{
    font-size: 25px;
    color: darkred;
    background-color: rgb(28, 12, 122);
}
#btneffect .item3 .btn0:hover{
    font-size: 25px;
    color: darkred;
    background-color: rgb(28, 11, 121);
}

